$background-dark: #512DA8;
$background-light: #9575CD;
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $background-dark;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }
  .spacer {
    flex: 1;
  }
  @mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
  }
  .jumbotron {
    @include zero-margin(50px,20px);
    background: $background-light ;
    color:floralwhite;
    min-height: 100px;
  }
  .search{
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px 50px 10px 10px;
  }