<!-- Toolbar -->
<mat-toolbar class="toolbar">
  <span><img src="/assets/images/logo2.jpg" height=40 width=40></span>
  <a routerLink="/menu">Yeison Shop</a>
  <span class="spacer"></span>
  <div>
    <form novalidate [formGroup]="searchForm" #fform="ngForm" (ngSubmit)="onSubmit()"> 
      <mat-form-field fxFlex>
        <input matInput formControlName="title" type="search" placeholder="Buscar productos..." style="height: 40px; width: 200px">
        <button mat-button type="submit" class="button">Buscar</button>
      </mat-form-field>
    </form>
  </div>
</mat-toolbar>
