<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Yeison Shop</h4><br>
        <img
      width="40"
      height="40"
      alt="Yeison Logo"
      src="/assets/images/logo2.jpg"
    />
      </div>
      <div fxFlex="55">
        <h4>Contact</h4>
        <address style="text-size-adjust: 80%">
            <fa-icon [icon]="faAddressCard"></fa-icon>
          Carrera 50 # 83 bb 36<br> MEDELLIN<br>
          <fa-icon [icon]="faPhone"></fa-icon>: +57 320 6XX XXXX<br>
          <fa-icon [icon]="faMailBulk"></fa-icon>:
          <a href="mailto:confusion@food.net">david.ballesteros@udea.edu.co</a>
        </address>
      </div>
    </div>
  </div>
  <div>
      <p>© Copyright 2021 Yeison Shop</p>
  </div>
</div>

