$background-light: white;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: $background-light;
    @include zero-margin(15px, 10px);
    bottom: 0;
    width: 100%;
}