<div class="container jumbotron" fxLayout="column wrap" fxLayoutGap="20px" fxLayoutAlign="none none">
  <div fxFlex fxFlexAlign="center">
    <input type="search" placeholder="Buscar productos..." class="search">
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>

  <div fxFlex fxFlexAlign="center" class="btn">
    <button mat-button type="submit" class="background-primary text-floral-white">Buscar</button>
  </div>
</div>

<div class="container" fxLayout='column' fxLayoutGap='10px'>
  <div fxFLex *ngIf="query"><!--*ngIf="items"-->
    <mat-card  *ngFor='let item of query.results'><!--*ngFor='let item of items' [routerLink]="['/details', item.id]"-->
      <mat-card-header>
        <mat-card-title>
          <h3>{{item.title | uppercase}}</h3><!--{{item.name | uppercase}}-->
          <img mat-card-image src="{{item.thumbnail}}" alt="nombre"><!-- "{{baseURL + item.image}}"   {{item.name}}-->
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{item.price}} $</p><!--{{item.price}}, {{item.reseller}}-->
        <p>{{item.seller.id}}</p>
      </mat-card-content>
    </mat-card>
    <mat-grid-list cols="3" rowHeight="200px" >
      <mat-grid-tile *ngFor='let item of query.results'>
        <mat-grid-tile-header>
          <h1>{{item.title | uppercase}}</h1>
        </mat-grid-tile-header>
        <img height="200px" src="{{item.thumbnail}}" alt={{item.title}}>
        <mat-grid-tile-footer>
          <h3>{{item.price}} $</h3>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div fxFlex [hidden]="items">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please wait.</h4>
  </div>

</div>