$background-dark: #512DA8;
$background-light: #9575CD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
  }
  .jumbotron {
    @include zero-margin(61px,0px);
    background: #E5E5E1;
    color: white;
    min-height: 100px;
  }
  .myCard{
    margin: 0 0 0 0;
    width: 250px;
    height: 320px;
  }